 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("img/bgT.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 934px;
}

.u-section-1 .u-image-1 {
  width: 216px;
  height: 191px;
  margin: 27px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 548px auto 0 397px;
  padding: 8px 25px 8px 24px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: normal;
  margin: -42px 378px 60px auto;
  padding: 8px 33px 9px 32px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 484px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 197px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 178px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 340px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 222px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 443px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 44px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 279px;
  }
} .u-section-2 {
  background-image: linear-gradient(#f2f2f2, #d8cfac);
}

.u-section-2 .u-sheet-1 {
  min-height: 784px;
}

.u-section-2 .u-image-1 {
  width: 1046px;
  height: 560px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 104px auto 75px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 503px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 385px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 289px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 182px;
  }
} .u-section-3 {
  background-image: linear-gradient(#d8cfac, #f2f2f2);
}

.u-section-3 .u-sheet-1 {
  min-height: 386px;
}

.u-section-3 .u-list-1 {
  width: 1111px;
  margin: 0 auto 55px;
}

.u-section-3 .u-repeater-1 {
  min-height: 331px;
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 29px 13px;
}

.u-section-3 .u-image-1 {
  height: 298px;
  margin: 1px 1px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 29px 13px;
}

.u-section-3 .u-image-2 {
  height: 298px;
  margin: 1px 1px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 29px 13px;
}

.u-section-3 .u-image-3 {
  height: 298px;
  margin: 1px 1px 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 29px 13px;
}

.u-section-3 .u-image-4 {
  height: 298px;
  margin: 1px 1px 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px 29px 13px;
}

.u-section-3 .u-image-5 {
  height: 298px;
  margin: 1px 1px 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px 29px 13px;
}

.u-section-3 .u-image-6 {
  height: 298px;
  margin: 1px 1px 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 20px 29px 13px;
}

.u-section-3 .u-image-7 {
  height: 298px;
  margin: 1px 1px 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 20px 29px 13px;
}

.u-section-3 .u-image-8 {
  height: 298px;
  margin: 1px 1px 0;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-3 .u-image-1 {
    height: 244px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 244px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 244px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 244px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    height: 244px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 244px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-7 {
    height: 244px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-8 {
    height: 244px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-3 .u-image-1 {
    height: 289px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 289px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 289px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 289px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    height: 289px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 289px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-7 {
    height: 289px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-8 {
    height: 289px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 498px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 498px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 498px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 498px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    height: 498px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    height: 498px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-7 {
    height: 498px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-8 {
    height: 498px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 336px;
  }

  .u-section-3 .u-image-1 {
    height: 306px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 306px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 306px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 306px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    height: 306px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 306px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-7 {
    height: 306px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-8 {
    height: 306px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }
}