 .u-section-1 {
  background-image: linear-gradient(#f2f2f2, #d8cfac);
  min-height: 1052px;
}

.u-section-1 .u-tabs-1 {
  min-height: 989px;
  height: auto;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-tab-list-1 {
  background-image: linear-gradient(#f2f2f2, #d8cfac);
}

.u-section-1 .u-tab-link-1 {
  background-image: none;
  text-transform: uppercase;
}

.u-section-1 .u-tab-link-2 {
  background-image: none;
  text-transform: uppercase;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-container-layout-2 {
  padding: 8px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.875rem;
  text-decoration: none !important;
  margin: 15px auto 0;
}

.u-section-1 .u-group-1 {
  width: 234px;
  height: 234px;
  margin: 30px auto 0 78px;
}

.u-section-1 .u-container-layout-3 {
  padding: 15px;
}

.u-section-1 .u-image-1 {
  height: 203px;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: -158px auto 0 407px;
}

.u-section-1 .u-group-2 {
  width: 234px;
  height: 247px;
  margin: 164px auto 0 78px;
}

.u-section-1 .u-container-layout-4 {
  padding: 15px;
}

.u-section-1 .u-image-2 {
  height: 217px;
  width: 100%;
  margin: 0;
}

.u-section-1 .u-text-3 {
  margin: -151px auto 0 407px;
}

.u-section-1 .u-group-3 {
  width: 234px;
  height: 239px;
  margin: 158px auto 0 78px;
}

.u-section-1 .u-container-layout-5 {
  padding: 11px 14px;
}

.u-section-1 .u-image-3 {
  height: 217px;
  margin: 0;
}

.u-section-1 .u-text-4 {
  margin: -134px auto 0 407px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tab-link-1 {
    font-weight: normal;
  }

  .u-section-1 .u-tab-link-2 {
    font-weight: normal;
  }

  .u-section-1 .u-group-1 {
    min-height: 234px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-left: 336px;
  }

  .u-section-1 .u-group-2 {
    min-height: 234px;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 336px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-left: 336px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: 257px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: 257px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-left: 257px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 193px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 193px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 193px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-tabs-1 {
    min-height: 869px;
  }

  .u-section-1 .u-tab-link-1 {
    padding: 10px 7px;
  }

  .u-section-1 .u-tab-link-2 {
    padding: 10px 7px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 47px;
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: 96px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 61px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 103px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: auto;
  }
} .u-section-2 {
  background-image: linear-gradient(#d8cfac, #f2f2f2);
}

.u-section-2 .u-sheet-1 {
  min-height: 549px;
}

.u-section-2 .u-gallery-1 {
  margin-top: 96px;
  margin-bottom: 60px;
  height: 236px;
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 15px;
}

.u-section-2 .u-back-image-1 {
  width: 365px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 15px;
}

.u-section-2 .u-back-image-2 {
  width: 365px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-right: 15px;
}

.u-section-2 .u-back-image-3 {
  width: 365px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  margin-right: 15px;
}

.u-section-2 .u-back-image-4 {
  width: 365px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  margin-right: 15px;
}

.u-section-2 .u-back-image-5 {
  width: 365px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  margin-right: 15px;
}

.u-section-2 .u-back-image-6 {
  width: 365px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}